.register {
    width:600px;
    margin-left:auto;
    margin-right:auto;
}

.register tr td:first-child{
    text-align:right;
    font-weight:bold;
}

.register tr td + td input {
    width:200px;
    border: solid 1px #c0c0c0;
}

.register tr td + td select {
    width:200px;
    border: solid 1px #c0c0c0;
}
