#CalendarControlIFrame {
 display: none;
 left: 0px;
 position: absolute;
 top: 0px;
 height: 250px;
 width: 100px;
 z-index: 99;
}

#CalendarControl {
 position:absolute;
 background-color:#FFF;
 margin:0;
 padding:0;
 height:245px;
 display:none;
 z-index: 100;
}

#CalendarControl table {
 font-family: arial, verdana, helvetica, sans-serif;
 font-size: 8pt;
 border: 1px solid #336;
 //border-right: 1px solid #336;
}

#CalendarControl th {
 font-weight: normal;
}

#CalendarControl th a {
 font-weight: normal;
 text-decoration: none;
 color: #666;
 padding: 1px;
}

#CalendarControl td {
 text-align: center;
}

#CalendarControl .header {
 background-color:ghostwhite;
 font-weight:bold;
}

#CalendarControl .weekday {
 background-color: lightgrey;
 color: #111;
}

#CalendarControl .weekend {
 background-color: ghostwhite;
 color: #222;
 font-weight:bold;
}

#CalendarControl .current {
 border: 1px solid #339;
 background-color: #336;
 color: #FFF;
}

#CalendarControl .weekday,
#CalendarControl .weekend,
#CalendarControl .current {
 display: block;
 text-decoration: none;
 border: 1px solid #FFF;
 width: 2em;
}

#CalendarControl .weekday:hover,
#CalendarControl .weekend:hover,
#CalendarControl .current:hover {
 color: #FFF;
 background-color: #336;
 border: 1px solid #999;
}

#CalendarControl .previous {
 text-align: left;
}

#CalendarControl .next {
 text-align: right;
}

#CalendarControl .previous,
#CalendarControl .next {
 padding: 1px 3px 1px 3px;
 font-size: 1.4em;
}

#CalendarControl .previous a,
#CalendarControl .next a {
 color: #111;
 text-decoration: none;
 font-weight: bold;
}
#CalendarControl .title {
text-align: center;
font-weight: bold;
color: #333;
}

#CalendarControl .empty {
background-color: ghostwhite;
border: 1px solid #FFF;
}
